@{
    ViewBag.Title = "Home Page";
}

<h1>Objeto json:</h1>


@*<p id="jsonStr">

</p>*@

<textarea id="jsonStr"></textarea>


@*<table id="userdata" border="2">
 
    <tr>First Name</tr>
    <th>Last Name</th>
    <th>Email Address</th>
    <th>City</th>
   

</table>*@

