body {
}

h1{
    color:red;
}



.CajaPrueba1 {
    width: 180px;
    height: 180px;;
    background: green;
    display:inline-block;
    margin-left:20px auto;
}





    @media only screen and (max-width: 600px) {
        /*body {
            background-color: lightblue;
        }*/

        .CajaPrueba1 {
            width: 180px;
            height: 180px;
            /*margin-bottom: 20px auto;*/
            display: table;
            /*margin-bottom:20px;*/
            margin-bottom: 20px;
        }

       
       
    }