<!DOCTYPE html>
<html>
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <h1>Hola buen dia</h1>

    @*<div id="Caja1">
            text
    </div>

        <div id="Caja2">

        </div>

        <div id="Caja3">

        </div>*@


    <br />    

    <div class="CajaPrueba1">
        caja1
    </div>

    <div class="CajaPrueba1">
        caja2
    </div>
    <div class="CajaPrueba1">
        caja3
    </div>

</body>
</html>
