@{
    ViewBag.Title = "Home Page";
}

<h1>Lista de motos</h1>
<button id="btnMostar">Mostrar lista</button>
<div id="demo"></div>



@section scripts{

    <script src="~/Scripts/archivoJava.js"></script>
}
