@{
    Page.Title = "Escriba el título aquí";
    //Layout = "Su página de diseño se incluye aquí";
}
<link href="~/estilo.css" rel="stylesheet" />

<div id="principal">
    <ul class="nav">
        <li><a href="">Inicio</a></li>
        <li>
            <a href="">Nosotros</a>
            <ul>
                <li><a href="">Item1</a></li>
                <li><a href="">Item2</a></li>
                <li><a href="">item3</a></li>
                <li>
                    <a href="">Submenu4</a>
                    <ul>
                        <li><a href="">subitem1</a></li>
                        <li><a href="">subitem2</a></li>
                        <li><a href="">subitem3</a></li>
                        <li><a href="">subitem4</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="">Everis</a>
            <ul>
                <li>
                    <a href="">Sede</a>

                    <ul>
                        <li><a href="">Rivadavia</a></li>
                        <li><a href="">San martin</a></li>
                       
                    </ul>
                </li>
                <li><a href="">item2</a></li>            
            </ul>
        </li>
       
    </ul>
</div>
