@{
    Page.Title = "Escriba el título aquí";
    //Layout = "Su página de diseño se incluye aquí";
}


<link href="~/StyleSheet.css" rel="stylesheet" />

<div class="slider">
    <ul>
        <li>
            <img src="https://webalia.com/uploads/contenidos_usrs/originales/394866_transilvania_20130211154605.jpg" />
            <img src="https://1.bp.blogspot.com/-JREhSKN8sMM/VmH2B-jmFXI/AAAAAAAAIzg/ScNtA185M88/s1600/02273%2Bpaisajes01.jpg" />
            <img class="css-img" src="http://www.publicidad.mundokitimprimible.com.ar/Kit%20Imprimible%20Minnie%20Vestido%20Rojo%20%20a%20Lunares/Mega/Fondos/Fondos/fondo%20(23).jpg" />
        </li>
        <li>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx6g7cXMh3A3nV3S9FLnPDmMpY-qCyBr_YPqOb4od1ownja7oojA" />
            <img src="http://www.loboswiki.com/Imagenes/cuentos-sobre-lobos.jpg" />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUZk73LgNucSswpkwTRgMH0Uy8rAdQJZJOI-GFm4KXdpskxMn0Ag" />
        </li>

        <li>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmuq2EsqikYls1jKuYXSkAxw1mcRhvhgeMhdk6QNIWCP5zf2ZG" />
            <img src="http://www.loboswiki.com/Imagenes/cuentos-sobre-lobos.jpg" />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Bzoz8Pg8MJqIsaWtxGAOsJELYhMsro34rzAGtrlrrBa7QRYe" />
        </li>

        <li>
            <img src="http://imagenes.gratis/wallpapershd/var/albums/Playas/fondos-pantalla-hd-playas-paraisos-paisajes-wallpaper%20%2820%29.jpg?m=1507037183" />
            <img src="https://media.todojujuy.com/adjuntos/227/imagenes/000/875/0000875115.jpg" />
            <img src="https://media.todojujuy.com/adjuntos/227/imagenes/000/070/0000070367.jpg" />
        </li>
    </ul>
   
</div>
